<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <title>Shoes Storage</title>
</head>
<body>
    {% include 'navbar.html' %}

    <!-- MAIN CONTENT -->
    <main>

    {% if messages %}
    <hr>
    <div class="messages">
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="message-error">{{ message }}</div>
            {% endif %}

            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="message-success">{{ message }}</div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% block content %}
        
    {% endblock content %}
    </main>


    {% include 'footer.html' %}

</body>
</html>