{% extends 'main.html' %}
{% load static %}

{% block content %}

<hr/>

<!-- CREATE INCOMMING PAGE - OPTIONS -->
<div class="create-incomming-wrapper">
    <div class="link">
        <div>
            <a href="{% url 'create-single-incomming' %}">
                UTWÓRZ POJEDYNCZĄ PRZESYŁKĘ
            </a>
        </div>
    </div>

    <div class="link">
        <div>
            <a href="{% url 'create-incomming-csv' %}">
                UTWÓRZ Z PLIKU CSV
            </a>
        </div>
    </div>
</div>

{% endblock content %}
