{% extends 'main.html' %}
{% load static %}

{% block content %}

<hr/>

<!-- CREATE SINGLE INCOMMING PAGE - OPTIONS -->
<div class="create-single-wrapper">
    
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Utwórz" name="" id="">
        <a class="back-a" href="{% url 'entry-in-single' %}">
            <input type="button" value="Cofnij" name="" id="">
        </a>
        
        <table class="overwiew-table">
            <tr class="table-header">
                <th>Data zamówienia</th>
                <th>Nazwa produktu</th>
                <th>Rozmiar</th>
                <th>CW</th>
                <th>Sprzedawca</th>
                <th>Nr faktury kupna</th>
                <th>Nr zamówienia</th>
                <th>Email</th>
                <th>Cena kupna</th>
                <th>Komentarz</th>
            </tr>
    
            <tr>
                <th>{{incomming.order_date|default:"--"}}</th>
                <th>{{incomming.name|default:"--"}}</th>
                <th>{{incomming.size|default:"--"}}</th>
                <th>{{incomming.cw|default:"--"}}</th>
                <th>{{incomming.seller|default:"--"}}</th>
                <th>{{incomming.buy_invoice_nr|default:"--"}}</th>
                <th>{{incomming.order_nr|default:"--"}}</th>
                <th>{{incomming.email|default:"--"}}</th>
                <th>{{incomming.buy_price}}</th>
                <th>{{incomming.comment|default:"--"}}</th>
            </tr>
            
        </table>

        <div class="hint-wrapper">
            <div class="hint">
                Największy istniejący numer magazynowy to: {{max_storage_nr}}!
            </div>
        </div>
        
        {% for field in form %}
        <div class="form-field">
            <div class="label">{{field.label}}</div>
            <div class="field">{{field}}</div>
        </div>
        {% endfor %}
    </form>

</div>



{% endblock content %}
