{% extends 'main.html' %}
{% load static %}

{% block content %}

<hr/>

<!-- CREATE SINGLE INCOMMING PAGE - OPTIONS -->
<div class="create-csv-wrapper">
    <div class="from-csv-header">
        KOLEJNOŚĆ DANYCH W PLIKU CSV
    </div>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <table class="columns-table">
            <tr class="table-header">
                <th>Nr magazynowy</th>
                <th>Data przyjęcia</th>
                <th>Data wydania</th>
                <th>Data faktury kupna</th>
                <th>Data faktury sprzedaży</th>
                <th>Data wpływu na konto</th>
                <th>Data faktury StockX</th>
                <th>Nazwa produktu</th>
                <th>Rozmiar</th>
                <th>CW</th>
                <th>Nr StockX</th>
                <th>Nr faktury sprzedaży</th>
                <th>Nr listu przewozowego</th>
                <th>Sprzedawca</th>
                <th>Nr faktury kupna</th>
                <th>Nr zamówienia</th>
                <th>Email</th>
                <th>Cena kupna</th>
                <th>Cena sprzedaży</th>
                <th>Cena Alias</th>
                <th>Kupujący</th>
                <th>Komentarz</th>
                <th>Kurs waluty</th>
            </tr>
        </table>

        <div class="hint-wrapper">
            <div class="hint">
                Pamiętaj, że prawidłowy format daty to YYYY-mm-dd!
            </div>
            <div class="hint">
                Sprawdź czy separatorem dziesiętnym w przypadku ceny jest kropka!
            </div>
        </div>

        {% for field in form %}
        {{ field }}
        {% endfor %}

        <input type="submit" value="Uwtórz" name="" id="">
        <a class="back-a" href="{% url 'send' %}">
            <input type="button" value="Cofnij" name="" id="">
        </a>
    </form>
</div>



{% endblock content %}
