{% extends 'main.html' %}
{% load static %}

{% block content %}

<hr/>

<!-- CHECK INCOMMING PAGE  -->

<div class="back-div">
    <a href="{% url 'home' %}">
        <input type="button" value="Cofnij" name="" id="">
    </a>
</div>

<div class="title-wrapper">NIE PRZYJĘTO NASTĘPUJĄCYCH PRZESYŁEK</div>
{% if not_created %}
    {% for nr in not_created %}
    <div class="number">
        Wiersz: {{nr}}
    </div>
    {% endfor %}
{% else %}
    <div class="no-not-created">
        WSZYSTKIE PRZESYŁKI ZOSTAŁY PRZYJĘTE
    </div>
{% endif %}


<div class="title-wrapper">PRZYJĘTE NADCHODZĄCE PRZESYŁKI</div>


<div class="check-incomming-wrapper">
    {% if created_entry_ins %}

    <table class="overwiew-table">
        <tr class="table-header">
            <th>Nr Magazynowy</th>
            <th>Email</th>
            <th>Cena kupna</th>
            <th>Nazwa produktu</th>
            <th>Rozmiar</th>
            <th>CW</th>
            <th>Numer zamówienia</th>
            <th>Data zamówienia</th>
            <th>Sprzedawca</th>
            <th>Komentarz</th>
            <th>Data przyjęcia</th>
            <th>Nr faktury kupna</th>
            <th>Data faktury kupna</th>
        </tr>
    

        {% for shoe in created_entry_ins %}

        <tr>
            <th>{{shoe.storage_nr}}</th>
            <th>{{shoe.email}}</th>
            <th>{{shoe.buy_price}}</th>
            <th>{{shoe.name}}</th>
            <th>{{shoe.size}}</th>
            <th>{{shoe.cw|default:"--"}}</th>
            <th>{{shoe.order_nr|default:"--"}}</th>
            <th>{{shoe.order_date|default:"--"}}</th>
            <th>{{shoe.seller}}</th>
            <th>{{shoe.comment|default:"--"}}</th>
            <th>{{shoe.entry_date|default:"--"}}</th>
            <th>{{shoe.buy_invoice_nr|default:"--"}}</th>
            <th>{{shoe.buy_invoice_date|default:"--"}}</th>
        </tr>

        {% endfor %}
        
    </table>

    {% else %}

    <div class="no-shoes">
        NIE PRZYJĘTO ŻADNYCH NADCHODZĄCYCH PRZESYŁEK
    </div>

    {% endif %}
</div>




{% endblock content %}
