{% extends 'main.html' %}
{% load static %}

{% block content %}

<hr/>

<!-- CREATE SINGLE INCOMMING PAGE - OPTIONS -->
<div class="create-single-wrapper">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="title-wrapper">USUŃ PRZESYŁKĘ Z ARCHIWUM</div>

        <input type="submit" value="Usuń" name="" id="">
        <a class="back-a" href="{% url 'archives' %}">
            <input type="button" value="Cofnij" name="" id="">
        </a>

        <div class="del-div"><u>Czy na pewno chcesz usunąć tą przesyłkę z archiwum?</u></div>

        <table class="overwiew-table">
            <tr class="table-header">
                <th>Email</th>
                <th>Cena kupna</th>
                <th>Nazwa produktu</th>
                <th>Rozmiar</th>
                <th>CW</th>
                <th>Numer zamówienia</th>
                <th>Data zamówienia</th>
                <th>Sprzedawca</th>
                <th>Komentarz</th>
                <th>Data przyjęcia</th>
                <th>Nr faktury kupna</th>
                <th>Data faktury kupna</th>
                <th>Data wydania</th>
                <th>Nr faktury sprzedaży</th>
                <th>Data faktury sprzedaży</th>
                <th>Data wpływu na konto</th>
                <th>Cena sprzedaży</th>
                <th>Kupujący</th>
                <th>Nr listu przewozowego</th>
                <th>Nr StockX</th>
            </tr>
    
            <tr>
                <th>{{sold_shoe.email}}</th>
                <th>{{sold_shoe.buy_price}}</th>
                <th>{{sold_shoe.name}}</th>
                <th>{{sold_shoe.size}}</th>
                <th>{{sold_shoe.cw|default:"--"}}</th>
                <th>{{sold_shoe.order_nr|default:"--"}}</th>
                <th>{{sold_shoe.order_date|default:"--"}}</th>
                <th>{{sold_shoe.seller|default:"--"}}</th>
                <th>{{sold_shoe.comment|default:"--"}}</th>
                <th>{{sold_shoe.entry_date|default:"--"}}</th>
                <th>{{sold_shoe.buy_invoice_nr|default:"--"}}</th>
                <th>{{sold_shoe.buy_invoice_date|default:"--"}}</th>
                <th>{{sold_shoe.exit_date|default:"--"}}</th>
                <th>{{sold_shoe.sell_invoice_nr|default:"--"}}</th>
                <th>{{sold_shoe.sell_invoice_date|default:"--"}}</th>
                <th>{{sold_shoe.money_income_date|default:"--"}}</th>
                <th>{{sold_shoe.sell_price|default:"--"}}</th>
                <th>{{sold_shoe.buyer|default:"--"}}</th>
                <th>{{sold_shoe.tracking_nr|default:"--"}}</th>
                <th>{{sold_shoe.stockx_nr|default:"--"}}</th>
            </tr>
            
        </table>
        
    </form>
</div>

{% endblock content %}
