{% extends 'main.html' %}
{% load static %}

{% block content %}

<hr/>

<!-- CREATE SINGLE INCOMMING PAGE - OPTIONS -->
<div class="create-single-wrapper">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="title-wrapper">USUŃ NADCHODZĄCĄ PRZESYŁKĘ</div>

        <input type="submit" value="Usuń" name="" id="">
        <a class="back-a" href="{% url 'check-incomming' %}">
            <input type="button" value="Cofnij" name="" id="">
        </a>

        <div class="del-div"><u>Czy na pewno chcesz usunąć tą nadchodzącą przesyłkę?</u></div>

        <table class="overwiew-table">
            <tr class="table-header">
                <th>Data zamówienia</th>
                <th>Data faktury kupna</th>
                <th>Nazwa produktu</th>
                <th>Rozmiar</th>
                <th>CW</th>
                <th>Sprzedawca</th>
                <th>Nr faktury kupna</th>
                <th>Nr zamówienia</th>
                <th>Email</th>
                <th>Cena kupna</th>
                <th>Komentarz</th>
            </tr>
    
            <tr>
                <th>{{incomming_shoe.order_date|default:"--"}}</th>
                <th>{{incomming_shoe.buy_invoice_date|default:"--"}}</th>
                <th>{{incomming_shoe.name|default:"--"}}</th>
                <th>{{incomming_shoe.size|default:"--"}}</th>
                <th>{{incomming_shoe.cw|default:"--"}}</th>
                <th>{{incomming_shoe.seller|default:"--"}}</th>
                <th>{{incomming_shoe.buy_invoice_nr|default:"--"}}</th>
                <th>{{incomming_shoe.order_nr|default:"--"}}</th>
                <th>{{incomming_shoe.email|default:"--"}}</th>
                <th>{{incomming_shoe.buy_price}}</th>
                <th>{{incomming_shoe.comment|default:"--"}}</th>
            </tr>
            
        </table>
        
    </form>
</div>

{% endblock content %}
