{% extends 'main.html' %}
{% load static %}

{% block content %}

<hr/>

<!-- CHECK INCOMMING PAGE  -->

<div class="back-div">
    <a href="{% url 'entry-in' %}">
        <input type="button" value="Cofnij" name="" id="">
    </a>
</div>

<div class="filter-wrapper">
    <form method="GET" action="{% url 'entry-in-single' %}">
        <label for="name">Nazwa</label><br>
        <input name="n" id="name" type="text" value="{{request.GET.n}}" placeholder="Wpisz nazwę buta"><br>
        <label for="seller">Sprzedawca</label><br>
        <input name="s" id="seller" type="text" value="{{request.GET.s}}" placeholder="Wpisz nazwę sprzedawcy"><br>

        <label for="order_nr">Numer zamówienia</label><br>
        <input name="on" id="order_nr" type="text" value="{{request.GET.on}}" placeholder="Wpisz numer zamówienia"><br>
        <label for="order_date">Data zamówienia</label><br>
        <input name="od" id="order_date" type="date" value="{{request.GET.od}}" placeholder="Wybierz datę zamówienia"><br>

        <input type="submit" value="SZUKAJ">
    </form>
</div>


{% if object_list %}
<div class="pagination">
    <div class="previous-page">
        {% if page_obj.has_previous %}
        <a href="{% url 'entry-in-single' %}?n={{request.GET.n}}&s={{request.GET.s}}&on={{request.GET.on}}&od={{request.GET.od}}&page={{page_obj.previous_page_number}}">&laquo; Poprzednia</a>
        {% endif %}
    </div>
    
    <div class="current-page">
        Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
    </div>
    
    <div class="next-page">
        {% if page_obj.has_next %}
        <a href="{% url 'entry-in-single' %}?n={{request.GET.n}}&s={{request.GET.s}}&on={{request.GET.on}}&od={{request.GET.od}}&page={{page_obj.next_page_number}}">Następna &raquo;</a>
        {% endif %}
    </div>
</div>

<div class="check-incomming-wrapper">

    <table class="overwiew-table">
        <tr class="table-header">
            <th></th>
            <th>Data zamówienia</th>
            <th>Data faktury kupna</th>
            <th>Nazwa produktu</th>
            <th>Rozmiar</th>
            <th>CW</th>
            <th>Sprzedawca</th>
            <th>Nr faktury kupna</th>
            <th>Nr zamówienia</th>
            <th>Email</th>
            <th>Cena kupna</th>
            <th>Komentarz</th>
        </tr>
    

        {% for shoe in object_list %}

        <tr>
            <th class="entry-in"><a href="{% url 'create-single-entry-in' shoe.id %}">PRZYJMIJ</a></th>
            <th>{{shoe.order_date|default:"--"}}</th>
            <th>{{shoe.buy_invoice_date|default:"--"}}</th>
            <th>{{shoe.name|default:"--"}}</th>
            <th>{{shoe.size|default:"--"}}</th>
            <th>{{shoe.cw|default:"--"}}</th>
            <th>{{shoe.seller|default:"--"}}</th>
            <th>{{shoe.buy_invoice_nr|default:"--"}}</th>
            <th>{{shoe.order_nr|default:"--"}}</th>
            <th>{{shoe.email|default:"--"}}</th>
            <th>{{shoe.buy_price}}</th>
            <th>{{shoe.comment|default:"--"}}</th>
        </tr>

        {% endfor %}
        
    </table>

</div>
{% endif %}

{% endblock content %}
