{% extends 'main.html' %}
{% load static %}

{% block content %}

<hr/>

<!-- MAIN PAGE - OPTIONS -->
<div class="main-page-wrapper">
    <div class="link">
        <div>
            <a href="{% url 'create-incomming' %}">
                UTWÓRZ NADCHODZĄCĄ PRZESYŁKĘ
            </a>
        </div>
    </div>

    <div class="link">
        <div>
            <a href="{% url 'entry-in' %}">
                PRZYJMIJ NA MAGAZYN
            </a>
        </div>
    </div>

    <div class="link">
        <div>
            <a href="{% url 'send' %}">
                DODAJ DO WYSŁANYCH
            </a>
        </div>
    </div>

    <div class="link">
        <div>
            <a href="{% url 'input-missing-data' %}">
                UZUPEŁNIJ DANE
            </a>
        </div>
    </div>
    
    <div class="link">
        <div>
            <a href="{% url 'check-missing-data' %}">
                SPRAWDŹ BRAKUJĄCE DANE
            </a>
        </div>
    </div>
    
    <div class="link">
        <div>
            <a href="{% url 'stats' %}">
                STATYSTYKI
            </a>
        </div>
    </div>
    
    <div class="link">
        <div>
            <a href="{% url 'check-incomming' %}">
                NADCHODZĄCE PRZESYŁKI
            </a>
        </div>
    </div>
    
    <div class="link">
        <div>
            <a href="{% url 'check-storage' %}">
                PRZEGLĄD MAGAZYNU
            </a>
        </div>
    </div>

    <div class="link">
        <div>
            <a href="{% url 'archives' %}">
                ARCHIWUM
            </a>
        </div>
    </div>

    <div class="link">
        <div>
            <a href="{% url 'sellers' %}">
                SPRZEDAWCY
            </a>
        </div>
    </div>

    <div class="link">
        <div>
            <a href="{% url 'buyers' %}">
                KUPUJĄCY
            </a>
        </div>
    </div>

    <div class="link">
        <div>
            <a href="{% url 'info' %}">
                INFORMACJE
            </a>
        </div>
    </div>

</div>

{% endblock content %}
