{% extends 'main.html' %}
{% load static %}

{% block content %}

<hr/>

<!-- MAIN PAGE - OPTIONS -->
<div class="main-page-wrapper">
    <div class="link">
        <a href="{% url 'create-incomming' %}">
            <div class="link-text">
                UTWÓRZ NADCHODZĄCĄ PRZESYŁKĘ
            </div>
        </a>
    </div>

    <div class="link">
        <a href="{% url 'entry-in' %}">
            <div class="link-text">
                PRZYJMIJ NA MAGAZYN
            </div>
        </a>
    </div>

    <div class="link">
        <a href="{% url 'send' %}">
            <div class="link-text">
                DODAJ DO WYSŁANYCH
            </div>
        </a>
    </div>

    <div class="link">
        <a href="{% url 'input-missing-data' %}">
            <div class="link-text">
                UZUPEŁNIJ DANE
            </div>
        </a>
    </div>
    
    <div class="link">
        <a href="{% url 'check-missing-data' %}">
            <div class="link-text">
                SPRAWDŹ BRAKUJĄCE DANE
            </div>
        </a>
    </div>
    
    <div class="link">
        <a href="{% url 'stats' %}">
            <div class="link-text">
                STATYSTYKI
            </div>
        </a>
    </div>
    
    <div class="link">
        <a href="{% url 'check-incomming' %}">
            <div class="link-text">
                NADCHODZĄCE PRZESYŁKI
            </div>
        </a>
    </div>
    
    <div class="link">
        <a href="{% url 'check-storage' %}">
            <div class="link-text">
                PRZEGLĄD MAGAZYNU
            </div>
        </a>
    </div>

    <div class="link">
        <a href="{% url 'archives' %}">
            <div class="link-text">    
                ARCHIWUM
            </div>
        </a>
    </div>

    <div class="link">
        <a href="{% url 'sellers' %}">
            <div class="link-text">
                SPRZEDAWCY
            </div>
        </a>
    </div>

    <div class="link">
        <a href="{% url 'buyers' %}">
            <div class="link-text">
                KUPUJĄCY
            </div>
        </a>
    </div>

    <div class="link">
        <a href="{% url 'info' %}">
            <div class="link-text">
                INFORMACJE
            </div>
        </a>
    </div>

</div>

{% endblock content %}
