{% extends 'main.html' %}
{% load static %}

{% block content %}

<hr/>

<!-- CHECK INCOMMING PAGE  -->

<div class="back-div">
    <a href="{% url 'input-missing-data' %}">
        <input type="button" value="Cofnij" name="" id="">
    </a>
</div>

<div class="title-wrapper">BRAKUJĄCE DANE - MAGAZYN</div>


<div class="filter-wrapper">
    <form method="GET" action="{% url 'input-missing-storage' %}">
        <label for="nane">Nazwa</label><br>
        <input name="n" id="name" type="text" value="{{request.GET.n}}" placeholder="Wpisz nazwę buta"><br>
        <label for="seller">Sprzedawca</label><br>
        <input name="s" id="seller" type="text" value="{{request.GET.s}}" placeholder="Wpisz nazwę sprzedawcy"><br>

        <label for="order_nr">Numer zamówienia</label><br>
        <input name="on" id="order_nr" type="text" value="{{request.GET.on}}" placeholder="Wpisz numer zamówienia"><br>
       <label for="entry_date">Data przyjęcia</label><br>
        <input name="ed" id="entry_date" type="date" value="{{request.GET.ed}}" placeholder="Wybierz datę przyjęcia"><br>

        <input type="submit" value="SZUKAJ">
    </form>
</div>


{% if object_list %}
<div class="to-csv">
    <a href="{% url 'missing-storage-csv' %}?n={{request.GET.n}}&s={{request.GET.s}}&on={{request.GET.on}}&ed={{request.GET.ed}}">
        <input type="button" value="POBIERZ CSV" name="" id="">
    </a>
</div>
{% endif %}

{% if object_list %}

<div class="pagination">
    <div class="previous-page">
        {% if page_obj.has_previous %}
        <div>
            <a href="{% url 'input-missing-storage' %}?n={{request.GET.n}}&s={{request.GET.s}}&on={{request.GET.on}}&ed={{request.GET.ed}}&page=1">&laquo; Pierwsza</a>
        </div>

        <div>
            <a href="{% url 'input-missing-storage' %}?n={{request.GET.n}}&s={{request.GET.s}}&on={{request.GET.on}}&ed={{request.GET.ed}}&page={{page_obj.previous_page_number}}">&laquo; Poprzednia</a>
        </div>
        {% endif %}
    </div>
    
    <div class="current-page">
        Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
    </div>
    
    <div class="next-page">
        {% if page_obj.has_next %}
        <div>
            <a href="{% url 'input-missing-storage' %}?n={{request.GET.n}}&s={{request.GET.s}}&on={{request.GET.on}}&ed={{request.GET.ed}}&page={{page_obj.next_page_number}}">Następna &raquo;</a>
        </div>

        <div>
            <a href="{% url 'input-missing-storage' %}?n={{request.GET.n}}&s={{request.GET.s}}&on={{request.GET.on}}&ed={{request.GET.ed}}&page={{page_obj.paginator.num_pages}}">Ostatnia &raquo;</a>
        </div>
        {% endif %}
    </div>
</div>

<div class="check-incomming-wrapper">

    <table class="overwiew-table">
        <tr class="table-header">
            <th></th>
            <th>Nr magazynowy</th>
            <th>Data przyjęcia</th>
            <th>Data faktury kupna</th>
            <th>Nazwa produktu</th>
            <th>Rozmiar</th>
            <th>CW</th>
            <th>Sprzedawca</th>
            <th>Nr faktury kupna</th>
            <th>Nr zamówienia</th>
            <th>Email</th>
            <th>Cena kupna</th>
            <th>Komentarz</th>
        </tr>
    

        {% for shoe in object_list %}

        <tr>
            <th class="input-data"><a href="{% url 'input-data-storage' shoe.id %}">UZUPEŁNIJ</a></th>
            <th>{{shoe.storage_nr|default:"--"}}</th>
            <th>{{shoe.entry_date|default:"--"}}</th>
            <th>{{shoe.buy_invoice_date|default:"--"}}</th>
            <th>{{shoe.name|default:"--"}}</th>
            <th>{{shoe.size|default:"--"}}</th>
            <th>{{shoe.cw|default:"--"}}</th>
            <th>{{shoe.seller|default:"--"}}</th>
            <th>{{shoe.buy_invoice_nr|default:"--"}}</th>
            <th>{{shoe.order_nr|default:"--"}}</th>
            <th>{{shoe.email|default:"--"}}</th>
            <th>{{shoe.buy_price}}</th>
            <th>{{shoe.comment|default:"--"}}</th>
        </tr>

        {% endfor %}
        
    </table>

</div>

{% else %}

<div class="no-shoes">
    WSZYSTKIE BUTY W MAGAZYNIE MAJĄ UZUPEŁNIONE DANE
</div>

{% endif %}


{% endblock content %}
