{% extends 'main.html' %}
{% load static %}

{% block content %}

<hr/>

<!-- CREATE SINGLE INCOMMING PAGE - OPTIONS -->
<div class="create-single-wrapper">
    
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Aktualizuj" name="" id="">
        {% if input_missing %}
        <a href="{% url 'input-missing-storage' %}">
        {% else %}
        <a href="{% url 'check-storage' %}">
        {% endif %}
            <input type="button" value="Cofnij" name="" id="">
        </a>
        
        <table class="overwiew-table">
            <tr class="table-header">
                <th>Nr magazynowy</th>
                <th>Email</th>
                <th>Cena kupna</th>
                <th>Nazwa produktu</th>
                <th>Rozmiar</th>
                <th>Data zamówienia</th>
                <th>Sprzedawca</th>
                <th>Komentarz</th>
                <th>Data przyjęcia</th>
                <th>Nr faktury kupna</th>
                <th>Data faktury kupna</th>
                <th>Data wydania</th>
                <th>Nr faktury sprzedaży</th>
                <th>Data faktury sprzedaży</th>
                <th>Data wpływu na konto</th>
                <th>Cena sprzedaży</th>
                <th>Kupujący</th>
                <th>Numer listu przewozowego</th>
                <th>Nr StockX</th>
                <th>CW</th>
            </tr>
    
            <tr>
                <th>{{in_storage_shoe.id}}</th>
                <th>{{in_storage_shoe.email}}</th>
                <th>{{in_storage_shoe.buy_price}}</th>
                <th>{{in_storage_shoe.name}}</th>
                <th>{{in_storage_shoe.size}}</th>
                <th>{{in_storage_shoe.order_date|default:"--"}}</th>
                <th>{{in_storage_shoe.seller|default:"--"}}</th>
                <th>{{in_storage_shoe.comment|default:"--"}}</th>
                <th>{{in_storage_shoe.entry_date|default:"--"}}</th>
                <th>{{in_storage_shoe.buy_invoice_nr|default:"--"}}</th>
                <th>{{in_storage_shoe.buy_invoice_date|default:"--"}}</th>
                <th>{{in_storage_shoe.exit_date|default:"--"}}</th>
                <th>{{in_storage_shoe.sell_invoice_nr|default:"--"}}</th>
                <th>{{in_storage_shoe.sell_invoice_date|default:"--"}}</th>
                <th>{{in_storage_shoe.money_income_date|default:"--"}}</th>
                {% if in_storage_shoe.sell_price == 0 %}
                <th>--</th>
                {% elif in_storage_shoe.sell_price %}
                <th>{{in_storage_shoe.sell_price}}</th>
                {% else %}
                <th>--</th>
                {% endif %}
                <th>{{in_storage_shoe.buyer|default:"--"}}</th>
                <th>{{in_storage_shoe.tracking_nr|default:"--"}}</th>
                <th>{{in_storage_shoe.stockx_nr|default:"--"}}</th>
                <th>{{in_storage_shoe.cw|default:"--"}}</th>
            </tr>
            
        </table>
        
        {% for field in form %}
        <div class="form-field">
            <div class="label">{{field.label}}</div>
            <div class="field">{{field}}</div>
        </div>
        {% endfor %}
    </form>

</div>



{% endblock content %}
