{% extends 'main.html' %}
{% load static %}

{% block content %}

<hr/>

<!-- CREATE INCOMMING PAGE - OPTIONS -->
<div class="create-incomming-wrapper">
    <div class="link">
        <a href="{% url 'input-missing-archives' %}">
            <div class="link-text">
                UZUPEŁNIJ DANE - ARCHIWUM
            </div>
        </a>
    </div>

    <div class="link">
        <a href="{% url 'input-missing-storage' %}">
            <div class="link-text">
                UZUPEŁNIJ DANE - MAGAZYN
            </div>
        </a>
    </div>
</div>

{% endblock content %}
