{% extends 'main.html' %}
{% load static %}

{% block content %}

<hr/>

<!-- MAIN PAGE - OPTIONS -->
<div class="check-incomming-wrapper">
    <div class="login-div">
        <h1>Login</h1>
        
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="margin">
                <div class="center">{{field.label}}</div>
                <div class="center">{{field}}</div>
            </div>
            {% endfor %}

            <input class="login-button" type="submit" value="Login">

        </form>
        
        <p class="red">Aby przetestować aplikację użyj następujących danych:<br><br>
                        Login: testuser<br>
                        Hasło: testpassword<br>
        </p>
    </div>
</div>

{% endblock content %}
