{% extends 'main.html' %}
{% load static %}

{% block content %}

<hr/>

<!-- CHECK INCOMMING PAGE  -->

<div class="back-div">
    <a href="{% url 'send' %}">
        <input type="button" value="Cofnij" name="" id="">
    </a>
</div>

<div class="filter-wrapper">
    <form method="GET" action="{% url 'send-single' %}">
        <label for="nane">Nazwa</label><br>
        <input name="n" id="name" type="text" value="{{request.GET.n}}" placeholder="Wpisz nazwę buta"><br>
        <label for="seller">Sprzedawca</label><br>
        <input name="s" id="seller" type="text" value="{{request.GET.s}}" placeholder="Wpisz nazwę sprzedawcy"><br>

        <label for="order_nr">Numer zamówienia</label><br>
        <input name="on" id="order_nr" type="text" value="{{request.GET.on}}" placeholder="Wpisz numer zamówienia"><br>
        <label for="order_date">Data zamówienia</label><br>
        <input name="od" id="order_date" type="date" value="{{request.GET.od}}" placeholder="Wybierz datę zamówienia"><br>
        <label for="entry_date">Data przyjęcia</label><br>
        <input name="ed" id="entry_date" type="date" value="{{request.GET.ed}}" placeholder="Wybierz datę przyjęcia"><br>

        <input type="submit" value="SZUKAJ">
    </form>
</div>

<div class="check-incomming-wrapper">

    <table class="overwiew-table">
        <tr class="table-header">
            <th class="entry-in"></th>
            <th>Nr magazynowy</th>
            <th>Email</th>
            <th>Cena kupna</th>
            <th>Nazwa produktu</th>
            <th>Rozmiar</th>
            <th>CW</th>
            <th>Numer zamówienia</th>
            <th>Data zamówienia</th>
            <th>Sprzedawca</th>
            <th>Komentarz</th>
            <th>Data przyjęcia</th>
            <th>Nr faktury kupna</th>
            <th>Data faktury kupna</th>
        </tr>
    

        {% for shoe in in_storage %}

        <tr>
            <th class="entry-in"><a href="{% url 'create-single-send' shoe.id %}">WYŚLIJ</a></th>
            <th>{{shoe.storage_nr|default:"--"}}</th>
            <th>{{shoe.email}}</th>
            <th>{{shoe.buy_price}}</th>
            <th>{{shoe.name}}</th>
            <th>{{shoe.size}}</th>
            <th>{{shoe.cw|default:"--"}}</th>
            <th>{{shoe.order_nr|default:"--"}}</th>
            <th>{{shoe.order_date|default:"--"}}</th>
            <th>{{shoe.seller|default:"--"}}</th>
            <th>{{shoe.comment|default:"--"}}</th>
            <th>{{shoe.entry_date|default:"--"}}</th>
            <th>{{shoe.buy_invoice_nr|default:"--"}}</th>
            <th>{{shoe.buy_invoice_date|default:"--"}}</th>
        </tr>

        {% endfor %}
        
    </table>

</div>

{% endblock content %}
